.option-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.option-list.closed {
    visibility: hidden;
}

.option-list > *:nth-child(even) {
    background-color: #ffffff;
}

.option-list > *:nth-child(odd){
    background-color: #dddddd;
}

.option-list > *:hover {
    background-color: turquoise;
}

.dropdown-header {
    display: flex;
    border-style: solid;
    border-width: 2px;
    border-color: black;

    padding-left: 5px;
    padding-right: 5px;

    .title {
        flex: 10;
    }

    .status {
        flex: 1;
        text-align: right;
        color: blue;
    }
}

.dropdown {
    display: flex;
    width:200px;
    align-items: stretch;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}